<head>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>saga tools</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index">Saga Tools</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link border border-primary" href="index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border border-primary" href="contact">contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border border-primary" aria-current="page" href="terms">terms conditions</a>
          <li class="nav-item">
            <a class="nav-link active border border-primary" aria-current="page" href="pri">privacy policy</a>
        </nav>
        <center><div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            {{category}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="tools">Tools</a>
            <a class="dropdown-item" href="articles">Articles</a>
            <a class="dropdown-item" href="ebooks">Ebooks</a>
          </div>
    <center><h1>Articles</h1></center>
    <div class="col-lg-3 col-md-6 col-sm-6 ja5">
      <figure class="card card-product-grid">
         <div class="img-wrap"> 
            <img src="https://cdn.pixabay.com/photo/2010/12/13/10/01/phone-2127_960_720.jpg" width="380px" height="325"> 
         </div>
         <figcaption class="info-wrap border-top">
            <div class="price-wrap">
               <span class="price"><strong>Phone Numbers from Text Extractor</strong></span>
            </div> <!-- price-wrap.// -->
            <p class="title mb-2">Our Phone Numbers from Text Extractor Tool Helps To Extract Phone Numbers From text you can copy and paste in message to and just do cold message</p>
            <center><a href="phone_text" class="btn btn-primary">use this service</a></center>
         </figcaption>
      </figure>
    </div>
<div class="container my-5" style="position:relative; top:100%;">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #929fba"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Saga Tools
            </h6>
            <p>
              in this saga tools web site you can explore many of the usefull tools like whatsapp automation and many more we are here to make your work simplier by tools.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Tools</h6>
            <p>
              <a class="text-white">Whatsapp Automation</a>
            </p>
            <p>
              <a class="text-white">Youtube video downloader</a>
            </p>
            <p>
              <a class="text-white">Youtube best Video Picker</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i>Andhra prodesh, AP 530047, india</p>
            <p><i class="fas fa-envelope mr-3"></i> maddalasagarika@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i>+917995964518</p>
            <p><i class="fas fa-print mr-3"></i>+919642491403</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

            <!-- Facebook -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998"
               href="https://www.facebook.com/profile.php?id=100081316240505"
               role="button"
               >Facebook</a>

            <!-- Twitter -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="https://twitter.com/SagarikaMaddala"
               role="button"
               >Twitter</a>

            <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #ac2bac"
               href="https://www.instagram.com/sagatools622008/"
               role="button"
               >Instagram</a>

            <!-- Linkedin -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="https://www.linkedin.com/in/maddala-jashwanth-0ba085230/"
               role="button"
               >Linkedin</a>
            <!-- Github -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333"
               href="https://github.com/jassu622008"
               role="button"
               >Github</a>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
 <center class="cp">© 2020 Copyright:
 <a class="text-white" href="https://maddalajashwanth.blogspot.com">saga tech info</a><center>
     <a class="text-white jt" href="terms">terms-conditions</a>
     <a class="text-white jp" href="pri">privacy policy</a>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->
</div>
<!-- End of .container -->